.background{
    width:100%;
    padding:150px 0px 90px 0px;
    box-sizing: border-box;
    margin:0 auto;
    height:100%;
}
.container{
    max-width:480px;
    height:350px;
    margin:0 auto;
}
.top-box{
    height:150px;
}
.center-box{
    height:100px;
}
.bottom-box{
    height:100px;
}
@media screen and (min-width:480px) {
    .background{
        width:100%;
        padding:150px 0px 90px 0px;
        box-sizing: border-box;
        margin:0 auto;
        height:100%;
    }
    .container{
        max-width:480px;
        max-height:500px;
        margin:0 auto;
    }
    .top-box{
        height:280px;
    }
    .center-box{
        height:120px;
    }
    .bottom-box {
        height: 100px;
    }
}
