.background {
    background-color: #EC665B;
}
.time-wrapper{
    text-align: center;
    color:white;
    font-size:25px;
    margin: 0 0 140px 0;
}
.time-wrapper p{
    padding-bottom:45px;
}
.end{
    background-color: #fff;
    width: 250px;
    margin: 40px auto;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 1px;
}
.end a{
    padding: 20px 0;
    display:block;
    color: #EC665B;
    text-decoration: none;
}
